{% extends 'encabezado.html' %}
{% block title %}
{{titulo}}
{% endblock %}
{% block content %}
<!--Comentario en HTML-->

<h1 class="title">Registrar Nuevo Pais </h1>


    <form action="{% url 'crear_pais' %}" method="post">
        {% csrf_token %}
        <label for="codigo">codigo del pais:</label>
        <input type="text" id="codigo" name="codigo" required><br><br>

        <label for="nombre">nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="poblacion">poblacion:</label>
        <input type="number" id="poblacion" name="poblacion" required><br><br>

        <label for="estado">Estado:</label>
        <select name="estado">
            <option value="En curso">En curso</option>
            <option value="Finalizado">Finalizado</option>
        </select>

        
        <input type="submit" value="Enviar">
    </form>



{% endblock %}